body {
  display: flex;
  flex-direction: column;
}

.column {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  &--vertical-items {
    flex-direction: column;
  }

  &--left-aligned {
    justify-content: flex-start;
  }

  &--right-aligned {
    justify-content: flex-end;
  }

  &--white {
    background-color: white;
  }
}
